
    input[type=file]{
        background: #00dfc4;
        
    }
    input[type=submit]{
        border: #00dfc4 solid 1px;
        outline: none;
        border-radius: 4px;
        font-style: bold ;
        color: #00dfc4;
    }
    .category{
        background: white;
        transition: 5s;
    }
   .category:hover{
    background: #00dfc4;
   }
    *{
      font-family: 'poppins',sans-serif;
    }
    .inputbox{
        width: 300px;

    }
    .inputbox input{
        width: 250;
        padding: 10px;
        border: 1px solid rgb(255, 255,255,0.25);
        background: #1d2b3a;
        border-radius: 7px;
        font-size: medium;
        outline: none;
        color: skyblue;
        
    }

    .inputbox span{
        position: absolute;
        left: 30px;
        padding: 10px;
       font-size: 1em;
       font-style: bolder;   
        pointer-events: none;
        color: rgb(255, 255,255,0.25);
        text-transform: uppercase;
        transition: 0.5s;
    }
    .inputbox input:valid ~ span,
    .inputbox input:focus ~ span{
        color: #00dfc4;
        transform: translateX(10px) translateY(-7px);
        font-size:0.65em ;
        padding: 0 10px;
        background: #1d2b3a;
        border-left: 1px solid #00dfc4;
        border-bottom: 1px solid #00dfc4;
        border-top: 1px solid #00dfc4;
        border-right: 1px solid #00dfc4;
        border-radius: 6px;
    }

    

    

    a{
        margin-left: -350px;
        text-decoration: none;
        color: skyblue;
        border: 1px solid;
    }
    .head{
        color:grey;
        font-style:bold;

    }
    input[type=file]{
        margin-top: -40px;
        margin-left: 160px;
    }
    p{
        font-style: italic;
        font-weight: bolder;
        color: skyblue;
        margin-left: -250px;
    }
    .imgtable{
        margin-left: 470px;
        margin-top: -630px;
        height: 800px;
        width: 600px;
        color:#00dfc4;
        border-radius: 10px;
    }
    .images{
        width: 140px;
        
    }
    .limg{
        border: none;
        margin-left: 78px;
    }
    select{
        font: optional;
    color: grey ;
    font-weight: bolder; 
    }
    option{
        font: optional;
    color: black ;
    font-weight: bolder; 
    }
   .op{
    margin-left: 20px;
   }
     table{
    
        background-repeat: no-repeat;
        background-size: cover;
    background-position: center;
    border-width: 10x;
    border-right: 1px;border-top: 1px;border-left: 1px;border-bottom: 1px;
    width: 300px;
    height: 470px;
        border-color: skyblue;
    border-radius: 6px;
    transition: .7s;
}
.tdimage{
    width: 300px;
}
.tdname{
    text-align: center;
}
   